:root {
  --gray: #4b5563;
  --opaque-gray: #4b55632f;
  --black-1: #1f2937;
  --bg-color: #fffa;
}

@font-face {
  src: url('./fonts/dm_sans.ttf');
  font-family: dm-sans;
}
@font-face {
  src: url('./fonts/onest.ttf');
  font-family: onest;
}
@font-face {
  src: url('./fonts/michroma.ttf');
  font-family: michroma;
}
@font-face {
  src: url('./fonts/nunito.ttf');
  font-family: nunito;
}
@font-face {
  src: url('./fonts/lexend.ttf');
  font-family: lexend;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

body {
  background: var(--bg-color);
}

ul li {
  list-style: none;
}

button {
  background: none;
  border: none;
  color: inherit;
}

.nav {
  display: flex;
  align-items: center;
}

.avatar {
  display: inherit;
  align-items: center;
  gap: .25rem;
  padding: 1.5rem 0 0 1.5rem;
}

.avatar img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--gray);
}

.avatar p {
  font-size: 1rem;
  font-family: dm-sans;
  font-weight: 500;
  color: var(--gray);
}

.expense-card {
  width: 90%;
  height: 12rem;
  margin: 1rem auto;
  box-shadow: 0 0 4px var(--opaque-gray);
  border-radius: 2rem;
  background: linear-gradient(120deg, var(--black-1), var(--gray));
  color: white;
  position: relative;
}

.expense-card .history-link {
  color: #fffa;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  font-family: dm-sans;
  font-size: .75rem;
}

.expense-card > div {
  padding: 1.5rem 0 0 1.5rem;
}

.expense-card .msg-1,
.expense-card .msg-2 {
  font-family: dm-sans;
  font-size: .8rem;
}

.expense-card .msg-2 {
  font-size: .875rem;
  margin-top: .5em;
}

.expense-card .figure {
  font-family: lexend;
  font-size: 2.75rem;
}

.expense-card .figure small {
  font-family: onest;
  font-size: 1.5rem;
}